[tool.poetry]
name = "sc-file"
version = "3.5.2"
description = "Utility & Library for decoding stalcraft assets"
authors = ["onejeuu <mail@66rk.ru>"]

license = "MIT"
readme = "README.md"

homepage = "https://github.com/onejeuu/sc-file"
repository = "https://github.com/onejeuu/sc-file"
documentation = "https://github.com/onejeuu/sc-file/?tab=readme-ov-file#usage-1"

packages = [{ include = "scfile" }]

[tool.poetry.dependencies]
python = ">=3.11,<3.13"
lz4 = "^4.3.2"
click = "^8.1.7"
numpy = "^1.26.3"
rich = "^13.0.0"

[tool.poetry.group.dev.dependencies]
pyinstaller = "^6.0.0"
pytest = "^8.1.1"

[tool.poetry.scripts]
scfile = "scfile.__main__:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
